@font-face {
    font-family: "IM Fell DW Pica Pro";
    src: url("../fonts/imfelldwpicapro_regular_macroman/FePIrm27C-webfont.woff") format("woff");
}

@font-face {
    font-family: "IM Fell DW Pica Pro Italics";
    src: url("../fonts/imfelldwpicapro_italic_macroman/FePIit27C-webfont.woff") format("woff");
    font-style: italic, oblique;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: "IM Fell DW Pica Pro", serif;
    font-size: 1.25em;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url('../images/wood-background.jpg');
    background-size: 384px 384px;
}

.content {
    background-color: #fceed9;
    background-image: url("../images/textured-paper.png");
    background-size: 250px 250px;
    width: 80vw;
    padding: 1.5rem;
    box-shadow: 0 0 3em black;
}

mainpageheader
{
    text-align: center;
    width: 100%;
}

@media(min-width: 300px)
{
    standardheader
    {
        display: grid;
        grid-template-columns: 80px auto 120px;
        grid-gap: 0px;
        padding: 0px;
    }
}

.standardheader-embossedlogo
{
    grid-column: 3;
    width: 120px;
    height: 120px;
}

.standardheader-dropdown
{
    grid-column: 1;
    position: relative;
    display: inline-block;
}

.standardheader-dropdown-content{
    display: block;
    position: absolute;
    height: 0px;
    overflow: hidden;
    background-color: #fceed9;
    background-image: url("../images/textured-paper.png");
    background-size: 250px 250px;
    min-width: 160px;
    box-shadow: 0 0 1em #8d8374;
    z-index: 1;
    transition-duration: 1s;
}

.standardheader-dropdown:hover .standardheader-dropdown-content {
    height: 200px;
}
  

footer
{
    text-align: center;
    font-size: 0.75rem;
    width: 100%;
}

.mainlogo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    max-height: 300px;
    width: auto;
    height: auto;
}

.footerlogo
{
    max-width: 50%;
    max-height: 150px;
    width: auto;
    height: auto;
}

@media (min-width: 620px)
{
    .columns
    {
        column-count: 2;
        column-gap: 20px;
    }
    
    .column
    {
        break-inside: avoid;
        overflow: hidden;
    }
}
 